<main class="container-fluid form-changepwd">
  <form [formGroup]="changePwdForm" (ngSubmit)="changePwd()">
    <img
      class="mb-4"
      src="/assets/media/pic/library_logo.png"
      alt=""
      width="120"
      height="120"
    />
    <h1 class="h3 mb-3 fw-normal">{{ "changePwd.title" | translate }}</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        formControlName="username"
        placeholder="User Name"
        readonly
      />
      <label for="floatingInput">{{ "changePwd.field-1" | translate }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="oldPassword"
        formControlName="currentPassword"
        placeholder="Password"
      />
      <label for="oldPassword">{{ "changePwd.field-2" | translate }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        placeholder="Password"
      />
      <label for="newPassword">{{ "changePwd.field-3" | translate }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Password"
      />
      <label for="confirmPassword">{{ "changePwd.field-4" | translate }}</label>
    </div>

    <button
      class="submit btn btn-primary"
      type="submit"
      [disabled]="!changePwdForm.valid"
    >
      {{ "changePwd.button-1" | translate }}
    </button>
    <button class="cancel btn btn-primary" (click)="cancel()">
      {{ "changePwd.button-2" | translate }}
    </button>
  </form>
</main>
