<app-librarian-header></app-librarian-header>

<div class="container-fluid bookwish-manage">
  <h2 class="title padding text-center">{{"bookWishlist.title"|translate}}</h2>
  <hr>
  <div class="row text-center">
    <div class="col-md-2">
      <h4 class="title">{{"bookWishlist.field-1"|translate}}</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">{{"bookWishlist.field-2"|translate}}</h4>
    </div>
    <div class="col-md-2">
      <h4 class="title">{{"bookWishlist.field-3"|translate}}</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">{{"bookWishlist.field-4"|translate}}</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">{{"bookWishlist.field-5"|translate}}</h4>
    </div>
    <div class="col-md-2">
      <h4 class="title">{{"bookWishlist.field-6"|translate}}</h4>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="title">{{"bookWishlist.field-7"|translate}}</h4>
    </div>
  </div>
  <div class="row text-center wish-list">

  </div>
</div>

<app-site-footer></app-site-footer>