<app-librarian-header></app-librarian-header>

<div class="container-fluid bookwish-manage">
  <h2 class="title padding text-center">Unfulfilled Book Wishlist Management</h2>
  <hr>
  <div class="row text-center">
    <div class="col-md-2">
      <h4 class="title">Create Time</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">Creator</h4>
    </div>
    <div class="col-md-2">
      <h4 class="title">Book Title</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">Language</h4>
    </div>
    <div class="col-md-1">
      <h4 class="title">Format</h4>
    </div>
    <div class="col-md-2">
      <h4 class="title">Current Status</h4>
    </div>
    <div class="col-md-3 text-center">
      <h4 class="title">Management</h4>
    </div>
  </div>
  <div class="row text-center wish-list">

  </div>
</div>

<app-site-footer></app-site-footer>