.form-changepwd {
  width: 80%;
  text-align: center;
  margin-top: 5%;
}

.form-floating {
  width: 300px;
  margin: auto;
}

button.submit, button.cancel {
  width: 150px;
  margin:auto;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}