<main class="container-fluid form-changepwd">
  <form [formGroup]="changePwdForm" (ngSubmit)="changePwd()">
    <a href="/" class="logo">
      <img
        class="mb-4"
        src="/assets/media/pic/library_logo.png"
        alt=""
        width="120"
        height="120"
      />
    </a>
    <h1 class="h3 mb-3 fw-normal">{{ "readerChangePwd.title" | translate }}</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        formControlName="username"
        placeholder="User Name"
        readonly
      />
      <label for="floatingInput">{{
        "readerChangePwd.uname" | translate
      }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="oldPassword"
        formControlName="currentPassword"
        placeholder="Password"
      />
      <label for="oldPassword">{{
        "readerChangePwd.currentPwd" | translate
      }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        placeholder="Password"
      />
      <label for="newPassword">{{
        "readerChangePwd.newPwd" | translate
      }}</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Password"
      />
      <label for="confirmPassword">{{
        "readerChangePwd.confirmPwd" | translate
      }}</label>
    </div>

    <button
      class="submit btn btn-primary"
      type="submit"
      [disabled]="!changePwdForm.valid"
    >
      {{ "readerChangePwd.submitButton" | translate }}
    </button>
    <button class="cancel btn btn-primary" (click)="cancel()">
      {{ "readerChangePwd.cancelButton" | translate }}
    </button>
  </form>
</main>
