<div *ngIf="role==='admin'">
  <app-admin-header></app-admin-header>
</div>
<div *ngIf="role==='librarian'">
  <app-librarian-header></app-librarian-header>
</div>
<div *ngIf="role==='reader'">
  <app-reader-header></app-reader-header>
</div>

<div class="search-result" *ngIf="bookList">
  <h3 class="title" *ngIf="bookList.length===1">{{"bookSearch.text-1"|translate:param}}</h3>
  <h3 class="title" *ngIf="bookList.length>1">{{"bookSearch.text-2"|translate:param}}</h3>
  <hr>
  <app-book-list [bookList]="bookList" [role]='role' [listName]="listName"></app-book-list>
</div>

<app-site-footer></app-site-footer>
