<app-reader-header></app-reader-header>

<div class="container container-fluid">
  <div class="workshop-header padding">
    <h2 class="welcome">Welcome to Anlu Bibliothèque Workshop!</h2>
    <p class="brief-intro">
      Anlu Bibliothèque located in Cameroon. Locally, we provide book and transfer knowledge to locals. For our friends around the world, we've set up this online library with our book and knowledge collection so we can share our love for miniatures with you!
    </p>
  </div>
  <div class="coming-workshop padding row">
    <h3 class="title">Coming Workshop</h3>
    <hr>

  </div>
  <div class="finished-workshop padding row">
    <h3 class="title">Finished Workshop</h3>
    <hr>
    
  </div>
</div>

<app-site-footer></app-site-footer>