<div class="container-fluid account-manage">
  <h2 class="title padding text-center">Existing Admin & Librarian Account Management</h2>
  <div class="admin-block">
    <h3 class="block-title padding">Admin</h3>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <p class="col-title">ID</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">Username</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">Create Date</p>
      </div>
      <div class="col-md-1">
        <p class="col-title">Status</p>
      </div>
      <div class="col-md-5">
        <p class="col-title">Operation</p>
      </div>
    </div>
    
  </div>
  <div class="lib-block">
    <h3 class="block-title padding">Librarian</h3>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <p class="col-title">ID</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">Username</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">Create Date</p>
      </div>
      <div class="col-md-1">
        <p class="col-title">Status</p>
      </div>
      <div class="col-md-5">
        <p class="col-title">Operation</p>
      </div>
    </div>

  </div>
  <div class="home-link">
    <a class="btn btn-primary" href="/lib/admin-portal">Return Admin Portal</a>
  </div>
</div>
