<app-admin-header></app-admin-header>

<div class="container-fluid account-manage">
  <h2 class="title padding text-center">
    {{ "accountManage.title" | translate }}
  </h2>
  <div class="admin-block">
    <h3 class="block-title padding">
      {{ "accountManage.subTitle-1" | translate }}
    </h3>
    <hr />
    <div class="row">
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-1" | translate }}</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-2" | translate }}</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-3" | translate }}</p>
      </div>
      <div class="col-md-1">
        <p class="col-title">{{ "accountManage.field-4" | translate }}</p>
      </div>
      <div class="col-md-5">
        <p class="col-title">{{ "accountManage.field-5" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="lib-block">
    <h3 class="block-title padding">
      {{ "accountManage.subTitle-2" | translate }}
    </h3>
    <hr />
    <div class="row">
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-1" | translate }}</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-2" | translate }}</p>
      </div>
      <div class="col-md-2">
        <p class="col-title">{{ "accountManage.field-3" | translate }}</p>
      </div>
      <div class="col-md-1">
        <p class="col-title">{{ "accountManage.field-4" | translate }}</p>
      </div>
      <div class="col-md-5">
        <p class="col-title">{{ "accountManage.field-5" | translate }}</p>
      </div>
    </div>
  </div>
</div>

<app-site-footer></app-site-footer>
