<div class="book-list row">
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/bookfiles/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/bookfiles/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/assets/media/bookcover/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/assets/media/bookcover/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/bookfiles/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
  <div class="col-md-2 book-card">
    <a href="/book/profile/610da2a5e90c647af5992654" class="img-link">
      <img src="/assets/media/bookcover/ProHTML5Programming-cover.png" alt="cover-img" class="book-cover">
    </a>
    <h3 class="book-title">Pro HTML5 Programming</h3>
    <p class="book-author">PETER LUBBERS, BRIAN ALBERS, FRANK SALIM</p>
  </div>
</div>
