h1.title {
  text-align: center;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 80px;
  margin-bottom: 30px;
}

img.lib-logo {
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

p {
  font-size: x-large;
  color: black;
  line-height: 2rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}