<app-reader-header></app-reader-header>

<div class="about-us container">
  <h1 class="title">{{ "aboutUs.title" | translate }}</h1>
  <p>{{ "aboutUs.desc-1" | translate }}</p>
  <p>
    {{ "aboutUs.desc-2" | translate }}<br />
    {{ "aboutUs.desc-3" | translate }}<br />
    {{ "aboutUs.desc-4" | translate }}<br />
    {{ "aboutUs.desc-5" | translate }}
  </p>
  <img
    src="/assets/media/pic/anluLogo.png"
    alt="Library logo"
    class="lib-logo"
  />
</div>

<app-site-footer></app-site-footer>
