<app-reader-header></app-reader-header>

<div class="container container-fluid blog-list">
  <h2 class="title padding">{{ "blogPortal.title-1" | translate }}</h2>
  <hr />
  <div class="news-list row">
    <div class="col-md-6">
      <p class="col-title">{{ "blogPortal.field-1" | translate }}</p>
    </div>
    <div class="col-md-4">
      <p class="col-title">{{ "blogPortal.field-2" | translate }}</p>
    </div>
  </div>

  <h2 class="title padding">{{ "blogPortal.title-2" | translate }}</h2>
  <hr />
  <div class="info-list row">
    <div class="col-md-6">
      <p class="col-title">{{ "blogPortal.field-1" | translate }}</p>
    </div>
    <div class="col-md-4">
      <p class="col-title">{{ "blogPortal.field-2" | translate }}</p>
    </div>
  </div>

  <h2 class="title padding">{{ "blogPortal.title-3" | translate }}</h2>
  <hr />
  <div class="notice-list row">
    <div class="col-md-6">
      <p class="col-title">{{ "blogPortal.field-1" | translate }}</p>
    </div>
    <div class="col-md-4">
      <p class="col-title">{{ "blogPortal.field-2" | translate }}</p>
    </div>
  </div>
</div>

<app-site-footer></app-site-footer>
