<div class="lib-hero overflow-hidden">
  <div class="bg-pic">
    <img src="/assets/media/pic/wallpaper-library.jpg" alt="Background picture" class="bg-pic">
  </div>
  <div class="lib-logo">
    <a href="/aboutus">
      <img src="/assets/media/pic/anluLogo.png" alt="Library logo" class="lib-logo">
    </a>
  </div>
  <div class="workshop-area bg-light">
    <div id="workshop-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">

      </div>
      <div class="carousel-inner">

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#workshop-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#workshop-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="donate-area">
    <button class="donate-link btn" [routerLink]="'/donate'">To Support Our Library</button>
  </div>
  <div class="key-links row">
    <a href="/inlibrary" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Books in Library
    </a>
    <a href="/ebook" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Online eBooks
    </a>
    <a href="/audiobook" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Audio Books
    </a>
    <a href="/podcast" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Podcasts
    </a>
    <a href="/workshop" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Workshops
    </a>
    <a href="/blog" class="key-link col-sm-4 col-md-2">
      <div class="circle"></div>
      Blogs & Updates
    </a>
  </div>
</div>