<app-librarian-header></app-librarian-header>

<div class="container container-fluid">
  <div class="title padding">
    <h2>{{ "wsInfo.title" | translate }}</h2>
    <a href="{{ wsUpdateUrl }}" class="btn btn-primary">{{
      "wsInfo.updateLink" | translate
    }}</a>
  </div>
  <div class="form" *ngIf="workshop">
    <hr class="padding" />
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-1" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.topic }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-2" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.place }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-3" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.startTime | date: "short" }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-4" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>
          {{ workshop.duration }} {{ workshop.duration > 1 ? "Hours" : "Hour" }}
        </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-5" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.organizer }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-6" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.poster }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-7" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.creator }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p class="title">{{ "wsInfo.field-8" | translate }}</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <p>{{ workshop.createTime | date: "short" }}</p>
      </div>
      <div class="col-sm-3">
        <p class="title">{{ "wsInfo.field-9" | translate }}</p>
      </div>
      <div class="col-sm-9">
        <p>{{ workshop.remark }}</p>
      </div>
      <div class="col-sm-3">
        <p class="title">{{ "wsInfo.field-10" | translate }}</p>
      </div>
      <div class="col-sm-9">
        <p>{{ subList.toString() }}</p>
      </div>
    </div>
  </div>
</div>

<app-site-footer></app-site-footer>
