<footer class="container text-center">
  <hr class="light">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img class="footer-logo" src="/assets/media/pic/library_logo.png">
        <hr class="light logo">
        <p><a id="web-link" href="/aboutus">About Us</a></p>
        <p>address street line</p>
        <p>address city/country line</p>
      </div>

      <div class="col-md-4" padding>
        <h3 class="footer-title"><B>Operation Hours</B></h3>
        <hr class="light">
        <p>Mon-Fri: 9am - 5pm</p>
        <p>Saturday: 9am - 12pm</p>
        <p>Sunday: Closed</p>
      </div>

      <div class="col-md-4" padding>
        <h3 class="footer-title"><B>Contact</B></h3>
        <hr class="light">
        <div class="social">
          <p>111-111-1111</p>
          <p>email@myemail.com</p>
          <a class="social-icon" href="#"><i class="bi bi-facebook"></i></a>
          <a class="social-icon" href="#"><i class="bi bi-twitter"></i></a>
          <a class="social-icon" href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <hr class="light">
  <small>&copy; 2020-2021</small>
  <a class="link-donate" href="/donate">I want to Donate</a>
  <br><br>
</footer>