<footer class="container text-center">
  <hr class="light">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img class="footer-logo" src="/assets/media/pic/library_logo.png">
        <hr class="light logo">
        <p><a id="web-link" href="/aboutus">{{'siteFooter.title-1'|translate}}</a></p>
        <p>{{'siteFooter.address-1'|translate}}</p>
        <p>{{'siteFooter.address-2'|translate}}</p>
      </div>

      <div class="col-md-4" padding>
        <h3 class="footer-title"><B>{{'siteFooter.title-2'|translate}}</B></h3>
        <hr class="light">
        <p>{{'siteFooter.operation-1'|translate}}</p>
        <p>{{'siteFooter.operation-2'|translate}}</p>
      </div>

      <div class="col-md-4" padding>
        <h3 class="footer-title"><B>{{'siteFooter.title-3'|translate}}</B></h3>
        <hr class="light">
        <div class="social">
          <p>{{'siteFooter.contact-1'|translate}}</p>
          <p>{{'siteFooter.contact-2'|translate}}</p>
          <a class="social-icon" href="#"><i class="bi bi-facebook"></i></a>
          <a class="social-icon" href="#"><i class="bi bi-twitter"></i></a>
          <a class="social-icon" href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <hr class="light">
  <small>&copy; 2020-2021</small>
  <a class="link-donate" href="/donate">{{'siteFooter.donateLink'|translate}}</a>
  <br><br>
</footer>