<div class="register text-center">
  <div class="logo-img">
    <img class="mb-4" src="/assets/media/pic/library_logo.png">
  </div>
  <h2 class="register-heading">{{"libReg.title"|translate}}</h2>
  <form class="needs-validation" [formGroup]="libRegisterForm" (ngSubmit)="libRegisterForm.valid&&libRegister()" novalidate>
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'libReg.field-1'|translate}} *" formControlName="username" required minlength="3" />
          <div class="invalid-feedback">
            {{"libReg.field-1-1"|translate}}
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="{{'libReg.field-2'|translate}} *" formControlName="password" 
            required minlength="5" />
          <div class="invalid-feedback">
            {{"libReg.field-2-1"|translate}}
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="{{'libReg.field-3'|translate}} *" formControlName="confirmPassword" required minlength="5" />
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="role" required>
            <option value="" class="hidden" selected disabled>{{"libReg.field-4"|translate}} *</option>
            <option>Librarian</option>
            <option>Admin</option>
          </select>
          <div class="invalid-feedback">
            {{"libReg.field-4-3"|translate}}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="{{'libReg.field-5'|translate}} *" formControlName="email" value="" required />
          <div class="invalid-feedback">
            {{"libReg.field-5-1"|translate}}
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'libReg.field-6'|translate}}" formControlName="firstName" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'libReg.field-7'|translate}}" formControlName="lastName" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="phoneNumber" class="form-control" placeholder="{{'libReg.field-8'|translate}}"/>
        </div>

        <input type="submit" class="btnRegister" value="{{'libReg.button-1'|translate}}" />
        <div class="home-link">
          <a href="/lib/admin-portal">{{"libReg.returnLink"|translate}}</a>
        </div>

      </div>
    </div>
  </form>

</div>
