<div class="lib-events row overflow-hidden">
  <div class="pt-1 pt-md-3 col-md-6">
    <div class="area-block mx-1 mx-md-3 p-2 p-md-3 bg-light">
      <a href="/blog" class="blog-portal">
        <h2 class="title">Latest News & Information</h2>
      </a>
      <UL id="latest-blogs">
        
      </UL>
    </div>
  </div>
  <div class="pt-1 pt-md-3 col-md-6">
    <div class="area-block mx-1 mx-md-3 p-2 p-md-3 bg-light">
      <a href="/workshop" class="workshop-portal">
        <h2 class="title">Anlu Workshop</h2>
      </a>
      <div id="workshop-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          
        </div>
        <div class="carousel-inner">
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#workshop-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#workshop-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>