.area-block {
  height: 400px;
  border-radius: 10px 10px 10px 10px;
}

h2.title {
  font-size: x-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.blog-item, .workshop-item {
  padding: 15px 0 15px 0;
  font-size: 1.5em;
}

/*
 * Extra utilities
 */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

img.poster {
  width: 80%;
  height: 320px;
}

div.carousel-caption {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: lightgray;
  opacity: 0.8;
  font-size: medium;
  font-weight: 600;
}

h3.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  color: darkblue;
}