.area-block {
  height: 400px;
  border-radius: 10px 10px 10px 10px;
}

h2.title {
  font-size: x-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.book-topn {
  border-radius: 10px 10px 10px 10px;
}

img.book-cover {
  width: 150px;
  height: 200px;
}

/*
 * Extra utilities
 */

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}
