div.block {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}
h2.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: 600;
}