<div id="lib-header">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{titleName}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-label="Toggle navigation" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/lib/lib-portal">Librarian Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/book" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Manage Book</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="/book/dashboard">Dashboard</a></li>
              <li><a class="dropdown-item" href="/book/register">Register Book</a></li>
              <li><a class="dropdown-item" href="/book/manage">Manage Book Info</a></li>
              <li><a class="dropdown-item" href="/book/wishlist/manage">Manage Wish List</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/workshop" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Manage Workshop</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="/workshop/manage">Manage Workshop</a></li>
              <li><a class="dropdown-item" href="/workshop/create">Create Workshop</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/blog" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Manage Blog</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="/blog/manage">Manage Blog</a></li>
              <li><a class="dropdown-item" href="/blog/create">Create Blog</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link logout" (click)="logout()">Logout</a>
          </li>
        </ul>
        <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="searchForm.valid&&searchBook()" novalidate>
          <label class="label_welcome">Welcome! {{libName}}</label>
          <input class="form-control me-2" type="search" placeholder="Search" formControlName="searchValue">
          <button class="search btn btn-outline-success" type="submit">Search Book</button>
        </form>
      </div>
    </div>
  </nav>
</div>
