.container {
  width: 100%;
  padding: 3%;
}

.title h2 {
  margin-bottom: 2%;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title h3 {
  margin-top: 2%;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.change-password {
  margin-left: 30px;
  font-size: 0.8rem;
}