<div class="blog-list">
  <div class="row">
    <div class="col-md-2">
      <p class="col-title">{{"blogList.field-1"|translate}}</p>
    </div>
    <div class="col-md-3">
      <p class="col-title">{{"blogList.field-2"|translate}}</p>
    </div>
    <div class="col-md-2">
      <p class="col-title">{{"blogList.field-3"|translate}}</p>
    </div>
    <div class="col-md-2">
      <p class="col-title">{{"blogList.field-4"|translate}}</p>
    </div>
    <div class="col-md-3">
      <p class="col-title">{{"blogList.field-5"|translate}}</p>
    </div>
  </div>
  <div id='list'>

  </div>
</div>