img.cover-img {
  width: 300px;
  margin-top: 10px;
}

h2.book-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: 600;
  margin-top: 3%;
}

img.logo {
  width: 120px;
  height: 80px;
  margin-top: 50px;
}

button.return-link {
  font-size: large;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}

button.return-link:hover {
  background-color: skyblue;
}