<div class="container-fluid text-center">
  <a href="/" class="logo">
    <img
      class="logo"
      src="/assets/media/pic/library_logo.png"
      alt=""
    />
  </a>
  <h2 class="book-title">{{audioBook.format}}</h2>
  <h2 *ngIf="audioBook" class="book-title">{{audioBook.bookTitle}}</h2>
  <img *ngIf="audioBook" src={{audioBook.coverPic}} alt="cover-img" class="cover-img">
  <figure *ngIf="audioBook">{{audioBook.author}}</figure>
  <div *ngIf="audioBook" class="audio-play">
    <audio controls preload="auto" id="book-audio">
      <source src={{audioBook.bookFile}} type="audio/mpeg">
      <source src={{audioBook.bookFile}} type="audio/wav">
      <source src={{audioBook.bookFile}} type="audio/ogg">
      <p>Your browser doesn't support HTML5 audio. Here is
        a <a href={{audioBook.bookFile}}>link to the audio</a> instead.</p>
    </audio>
  </div>
</div>
