div.logo-img {
  text-align: center;
  padding-top: 20px;
}
.logo-img img{
  width: 100px;
  height: 120px;
}
h2.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  text-align: center;
  margin-top: -20px;
}