<div class="container text-center padding">
  <div class="logo-img">
    <img class="mb-4" src="/assets/media/pic/library_logo.png" />
  </div>
  <h2 class="title padding">{{ "bookUpdate.title" | translate }}</h2>
  <hr />
  <div class="update-form padding">
    <form
      class="needs-validation"
      [formGroup]="bookUpdateForm"
      (ngSubmit)="bookUpdateForm.valid && updateBook()"
      novalidate
    >
      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="title">{{ "bookUpdate.field-1" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="bookTitle"
            readonly
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="isbn">{{ "bookUpdate.field-2" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="isbn"
            formControlName="isbnCode"
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="category">{{ "bookUpdate.field-3" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <select
            class="form-select"
            formControlName="category"
            id="category"
            aria-label="Category of book"
            required
          >
            <option value="" class="hidden" selected disabled>
              {{ "bookUpdate.field-3-1" | translate }}
            </option>
            <option>Romance</option>
            <option>Politics</option>
            <option>Press</option>
            <option>Essay_sociology</option>
            <option>Essay_philosophy</option>
            <option>Essay_anthropology</option>
            <option>Essay_ethnology</option>
            <option>Information Technology</option>
            <option>Comic</option>
            <option>History</option>
            <option>Geography</option>
            <option>Dissertation</option>
            <option>Art_theatre</option>
            <option>Art_music</option>
            <option>Art_plastic</option>
            <option>Art_design</option>
            <option>Sport_football</option>
            <option>Sport_basketball</option>
            <option>Sport_handball</option>
            <option>Sport_tennis</option>
            <option>Sport_boxing</option>
          </select>
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="author">{{ "bookUpdate.field-4" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="author"
            formControlName="author"
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="language">{{ "bookUpdate.field-5" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="language"
            formControlName="language"
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="format">{{ "bookUpdate.field-6" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <select
            class="form-select"
            formControlName="format"
            id="format"
            aria-label="Format of book"
            required
          >
            <option>eBook</option>
            <option>Hardcopy</option>
            <option>Audiobook</option>
            <option>Podcast</option>
          </select>
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="publisher">{{ "bookUpdate.field-7" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="publisher"
            formControlName="publisher"
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="publishDate">{{
            "bookUpdate.field-8" | translate
          }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="date"
            class="form-control"
            id="publishDate"
            formControlName="publishDate"
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="purchaseDate">{{
            "bookUpdate.field-9" | translate
          }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="date"
            class="form-control"
            id="purchaseDate"
            formControlName="purchaseDate"
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="price">{{ "bookUpdate.field-10" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="price"
            formControlName="price"
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="cover">{{ "bookUpdate.field-11" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3" *ngIf="bookFileInfo.coverPic">
          <input
            type="text"
            class="form-control"
            id="cover"
            value="{{ bookFileInfo.coverPic }}"
            name=""
            readonly
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="book">{{ "bookUpdate.field-12" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3" *ngIf="bookFileInfo.bookFile">
          <input
            type="text"
            class="form-control"
            id="book"
            value="{{ bookFileInfo.bookFile }}"
            name=""
            readonly
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="coverPic"
            >{{ "bookUpdate.field-13" | translate }}=></label
          >
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="file"
            class="form-control"
            id="coverPic"
            formControlName="coverPic"
            (change)="onCoverSelect($event)"
          />
          <mat-progress-bar
            [color]="color"
            mode="determinate"
            [value]="uploadCoverProgress"
          ></mat-progress-bar>
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="bookFile"
            >{{ "bookUpdate.field-14" | translate }}=></label
          >
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="file"
            class="form-control"
            id="bookFile"
            formControlName="bookFile"
            (change)="onBookSelect($event)"
          />
          <mat-progress-bar
            [color]="color"
            mode="determinate"
            [value]="uploadBookProgress"
          ></mat-progress-bar>
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="desc">{{ "bookUpdate.field-15" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <textarea
            class="form-control"
            id="desc"
            formControlName="desc"
            aria-label="Brief Book Description"
          ></textarea>
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="keywords">{{ "bookUpdate.field-16" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="keywords"
            formControlName="keywords"
          />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-sm-6 col-md-3">
          <label for="initialScore">{{
            "bookUpdate.field-17" | translate
          }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <input
            type="text"
            class="form-control"
            id="initialScore"
            formControlName="initialScore"
          />
        </div>
        <div class="col-sm-6 col-md-3">
          <label for="isactive">{{ "bookUpdate.field-18" | translate }}</label>
        </div>
        <div class="col-sm-6 col-md-3">
          <select
            class="form-select"
            id="isactive"
            formControlName="isActive"
            aria-label="Active status"
            required
          >
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
      </div>

      <div class="submit-button">
        <input
          type="submit"
          class="btnupdate"
          value="{{ 'bookUpdate.button-1' | translate }}"
        />
      </div>
      <div class="portal-link">
        <a href="{{ portalUrl }}">{{ "bookUpdate.returnLink" | translate }}</a>
      </div>
    </form>
  </div>
</div>
