<app-reader-header></app-reader-header>
<div class="container-fluid container">
  <div class="portal-header">
    <img src="/assets/media/pic/library_logo.png" alt="logo-img" class="logo" />
    <h2 class="title">{{ "podcastPortal.title" | translate }}</h2>
  </div>
  <div class="book-container">
    <ul class="nav nav-tabs" id="bookTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          data-bs-toggle="tab"
          href="#home"
          (click)="clickHome()"
          >{{ "podcastPortal.tab-1" | translate }}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#search"
          (click)="clickSearch()"
          >{{ "podcastPortal.tab-2" | translate }}</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          href="#wish"
          (click)="clickWish()"
          >{{ "podcastPortal.tab-3" | translate }}</a
        >
      </li>
    </ul>
    <div class="tab-content" id="bookTab-content">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="link-area">
          <button
            class="book-category btn btn-link"
            id="allLink"
            (click)="setBookList('All')"
          >
            {{ "podcastPortal.cat-all" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Romance')"
          >
            {{ "podcastPortal.cat-1" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Politics')"
          >
            {{ "podcastPortal.cat-2" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Press')"
          >
            {{ "podcastPortal.cat-3" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Essay')"
          >
            {{ "podcastPortal.cat-4" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Information Technology')"
          >
            {{ "podcastPortal.cat-5" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Comic')"
          >
            {{ "podcastPortal.cat-6" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('History')"
          >
            {{ "podcastPortal.cat-7" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Geography')"
          >
            {{ "podcastPortal.cat-8" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Dissertation')"
          >
            {{ "podcastPortal.cat-9" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Art')"
          >
            {{ "podcastPortal.cat-10" | translate }}
          </button>
          <button
            class="book-category btn btn-link"
            (click)="setBookList('Sport')"
          >
            {{ "podcastPortal.cat-11" | translate }}
          </button>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="search"
        role="tabpanel"
        aria-labelledby="search-tab"
      >
        <div class="search-area">
          <form
            class="search-form"
            [formGroup]="searchForm"
            (ngSubmit)="searchBookList()"
          >
            <div class="row">
              <div class="col-md-3">
                <label class="col-form-label" for="category">{{
                  "podcastPortal.search-1" | translate
                }}</label>
              </div>
              <div class="col-md-3">
                <select
                  class="form-control"
                  formControlName="category"
                  id="category"
                >
                  <option value="" selected>Null</option>
                  <option>Romance</option>
                  <option>Politics</option>
                  <option>Press</option>
                  <option>Essay_sociology</option>
                  <option>Essay_philosophy</option>
                  <option>Essay_anthropology</option>
                  <option>Essay_ethnology</option>
                  <option>Information Technology</option>
                  <option>Comic</option>
                  <option>History</option>
                  <option>Geography</option>
                  <option>Dissertation</option>
                  <option>Art_theatre</option>
                  <option>Art_music</option>
                  <option>Art_plastic</option>
                  <option>Art_design</option>
                  <option>Sport_football</option>
                  <option>Sport_basketball</option>
                  <option>Sport_handball</option>
                  <option>Sport_tennis</option>
                  <option>Sport_boxing</option>
                </select>
              </div>
              <div class="col-md-2">
                <label class="col-form-label" for="bookTitle"
                  >& {{ "podcastPortal.search-2" | translate }}</label
                >
              </div>
              <div class="col-md-4">
                <input
                  class="form-control"
                  type="text"
                  formControlName="bookTitle"
                  id="bookTitle"
                  placeholder="Null"
                />
              </div>
              <div class="col-md-2">
                <label class="col-form-label" for="author"
                  >& {{ "podcastPortal.search-3" | translate }}</label
                >
              </div>
              <div class="col-md-2">
                <input
                  class="form-control"
                  type="text"
                  formControlName="author"
                  id="author"
                  placeholder="Null"
                />
              </div>
              <div class="col-md-3">
                <label class="col-form-label" for="year"
                  >& {{ "podcastPortal.search-4" | translate }}</label
                >
              </div>
              <div class="col-md-2">
                <input
                  class="form-control"
                  type="text"
                  formControlName="publishYear"
                  id="year"
                  placeholder="Null"
                />
              </div>
              <div class="col-md-2">
                <button class="btn btn-primary book-search" type="submit">
                  {{ "podcastPortal.searchButton" | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="wish"
        role="tabpanel"
        aria-labelledby="wish-tab"
      >
        <div class="wish-area">
          <p class="guide-text">
            {{ "podcastPortal.wishTitle-1" | translate }}
          </p>
          <hr />
          <form
            class="wish-form"
            [formGroup]="wishForm"
            (ngSubmit)="createWish()"
          >
            <div class="row">
              <div class="col-md-2">
                <label class="col-form-label" for="bookTitle">{{
                  "podcastPortal.wishField-1" | translate
                }}</label>
              </div>
              <div class="col-md-3">
                <input
                  class="form-control"
                  type="text"
                  formControlName="bookTitle"
                  id="bookTitle"
                  required
                />
              </div>
              <div class="col-md-1">
                <label class="col-form-label" for="lang">{{
                  "podcastPortal.wishField-2" | translate
                }}</label>
              </div>
              <div class="col-md-2">
                <select
                  class="form-control"
                  formControlName="language"
                  id="lang"
                >
                  <option value="English" selected>English</option>
                  <option>French</option>
                  <option>Spanish</option>
                  <option>Germany</option>
                </select>
              </div>
              <div class="col-md-1">
                <label class="col-form-label" for="creator">{{
                  "podcastPortal.wishField-3" | translate
                }}</label>
              </div>
              <div class="col-md-2">
                <input
                  class="form-control"
                  type="text"
                  formControlName="creator"
                  id="creator"
                  readonly
                />
              </div>
              <div class="col-md-1">
                <button class="btn btn-primary book-wish" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
          <div class="submitted-wish">
            <h3 class="title">{{ "podcastPortal.wishTitle-2" | translate }}</h3>
            <hr />
            <div class="row">
              <div class="col-md-2">
                <h4 class="title">
                  {{ "podcastPortal.wishField-4" | translate }}
                </h4>
              </div>
              <div class="col-md-2">
                <h4 class="title">
                  {{ "podcastPortal.wishField-5" | translate }}
                </h4>
              </div>
              <div class="col-md-2">
                <h4 class="title">
                  {{ "podcastPortal.wishField-6" | translate }}
                </h4>
              </div>
              <div class="col-md-2">
                <h4 class="title">
                  {{ "podcastPortal.wishField-7" | translate }}
                </h4>
              </div>
              <div class="col-md-4 text-center">
                <h4 class="title">
                  {{ "podcastPortal.wishField-8" | translate }}
                </h4>
              </div>
            </div>
            <div class="row wish-list"></div>
          </div>
        </div>
      </div>
      <div class="list-area" *ngIf="listBlock">
        <app-book-list
          [bookList]="podcastList"
          [role]="role"
          [listName]="listName"
        ></app-book-list>
      </div>
    </div>
  </div>
</div>
<app-site-footer></app-site-footer>
