<div class="container-fluid text-center">
  <img class="mb-4 logo" src="/assets/media/pic/library_logo.png" />
  <h2 class="register-heading">{{ "bookReg.title" | translate }}</h2>
</div>
<div class="container register">
  <form
    class="needs-validation"
    [formGroup]="bookRegisterForm"
    (ngSubmit)="bookRegisterForm.valid && bookRegister()"
    novalidate
  >
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="bookTitle"
            formControlName="bookTitle"
            required
          />
          <label for="bookTitle">{{ "bookReg.field-1" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-1-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="isbn"
            formControlName="isbnCode"
          />
          <label for="isbn">{{ "bookReg.field-2" | translate }}</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-2-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            formControlName="category"
            id="category"
            aria-label="Category of book"
            required
          >
            <option value="" class="hidden" selected disabled>
              {{ "bookReg.field-3" | translate }}*
            </option>
            <option>Romance</option>
            <option>Politics</option>
            <option>Press</option>
            <option>Essay_sociology</option>
            <option>Essay_philosophy</option>
            <option>Essay_anthropology</option>
            <option>Essay_ethnology</option>
            <option>Information Technology</option>
            <option>Comic</option>
            <option>History</option>
            <option>Geography</option>
            <option>Dissertation</option>
            <option>Art_theatre</option>
            <option>Art_music</option>
            <option>Art_plastic</option>
            <option>Art_design</option>
            <option>Sport_football</option>
            <option>Sport_basketball</option>
            <option>Sport_handball</option>
            <option>Sport_tennis</option>
            <option>Sport_boxing</option>
          </select>
          <label for="category">{{ "bookReg.field-3" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-3-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            formControlName="format"
            id="format"
            aria-label="Format of book"
            required
          >
            <option value="" class="hidden" selected disabled>
              {{ "bookReg.field-4" | translate }}*
            </option>
            <option>eBook</option>
            <option>Hardcopy</option>
            <option>Audiobook</option>
            <option>Podcast</option>
          </select>
          <label for="format">{{ "bookReg.field-4" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-4-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="publisher"
            formControlName="publisher"
          />
          <label for="publisher">{{ "bookReg.field-5" | translate }}</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="publishDate"
            onfocus="(this.type='date')"
            formControlName="publishDate"
          />
          <label for="publishDate">{{ "bookReg.field-6" | translate }}</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="iscore"
            formControlName="initialScore"
          />
          <label for="iscore">{{ "bookReg.field-7" | translate }}</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-7-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="isactive"
            formControlName="isActive"
            aria-label="Active status"
            required
          >
            <option value="True" selected>Active</option>
            <option>Inactive</option>
          </select>
          <label for="isactive">{{ "bookReg.field-8" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-8-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="creator"
            formControlName="creator"
            readonly
          />
          <label for="creator">{{ "bookReg.field-9" | translate }}</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="author"
            formControlName="author"
            required
          />
          <label for="author">{{ "bookReg.field-10" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-10-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <select
            class="form-select"
            id="lang"
            formControlName="language"
            aria-label="language of book"
            required
          >
            <option value="" class="hidden" selected disabled>
              {{ "bookReg.field-11" | translate }}*
            </option>
            <option>English</option>
            <option>French</option>
            <option>Spanish</option>
            <option>Other</option>
          </select>
          <label for="lang">{{ "bookReg.field-11" | translate }}*</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-11-1" | translate }}
          </div>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="purchaseDate"
            onfocus="(this.type='date')"
            formControlName="purchaseDate"
          />
          <label for="purchaseDate">{{ "bookReg.field-12" | translate }}</label>
        </div>

        <div class="form-floating">
          <input
            type="file"
            class="form-control"
            id="cover"
            placeholder="Book Cover Picture *"
            formControlName="coverPic"
            (change)="onCoverSelect($event)"
            required
          />
          <label for="cover">{{ "bookReg.field-13" | translate }}</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-13-1" | translate }}
          </div>
          <mat-progress-bar
            [color]="color"
            mode="determinate"
            [value]="uploadCoverProgress"
          ></mat-progress-bar>
        </div>

        <div class="form-floating">
          <input
            type="file"
            class="form-control"
            id="bookFile"
            placeholder="Book file *"
            formControlName="bookFile"
            (change)="onBookSelect($event)"
            required
          />
          <label for="bookFile">{{ "bookReg.field-14" | translate }}</label>
          <div class="invalid-feedback">
            {{ "bookReg.field-14-1" | translate }}.
          </div>
          <mat-progress-bar
            [color]="color"
            mode="determinate"
            [value]="uploadBookProgress"
          ></mat-progress-bar>
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="Price of Book"
            formControlName="price"
          />
          <label for="price">{{ "bookReg.field-15" | translate }}</label>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="keywords"
              placeholder="Keywords of Book"
              formControlName="keywords"
            />
            <label for="keywords">{{ "bookReg.field-16" | translate }}</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="desc"
              formControlName="desc"
              aria-label="Brief Book Description"
            ></textarea>
            <label for="desc">{{ "bookReg.field-17" | translate }}</label>
          </div>
        </div>
        <input
          type="submit"
          class="btnRegister"
          value="{{ 'bookReg.button-1' | translate }}"
        />
        <div class="button-floating">
          <a class="goPortal" (click)="goPortal()">{{
            "bookReg.returnLink" | translate
          }}</a>
        </div>
      </div>
    </div>
  </form>
</div>
