<div class="container-fluid text-center">
  <img class="mb-4 logo" src="/assets/media/pic/library_logo.png">
  <h2 class="register-heading">Book Registration</h2>
</div>
<div class="container register">
  <form class="needs-validation" [formGroup]="bookRegisterForm" (ngSubmit)="bookRegisterForm.valid&&bookRegister()"
    novalidate>
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="bookTitle" formControlName="bookTitle" required />
          <label for="bookTitle">Title of Book *</label>
          <div class="invalid-feedback">
            Please provide an unique book title.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="isbn" formControlName="isbnCode" />
          <label for="isbn">ISBN Code of Book</label>
          <div class="invalid-feedback">
            Please provide valid book ISBN Code.
          </div>
        </div>
        <div class="form-floating">
          <select class="form-select" formControlName="category" id="category" aria-label="Category of book" required>
            <option value="" class="hidden" selected disabled>Category of book *</option>
            <option>Romance</option>
            <option>Politics</option>
            <option>Press</option>
            <option>Essay_sociology</option>
            <option>Essay_philosophy</option>
            <option>Essay_anthropology</option>
            <option>Essay_ethnology</option>
            <option>Information Technology</option>
            <option>Comic</option>
            <option>History</option>
            <option>Geography</option>
            <option>Dissertation</option>
            <option>Art_theatre</option>
            <option>Art_music</option>
            <option>Art_plastic</option>
            <option>Art_design</option>
            <option>Sport_football</option>
            <option>Sport_basketball</option>
            <option>Sport_handball</option>
            <option>Sport_tennis</option>
            <option>Sport_boxing</option>
          </select>
          <label for="category">Category of Book</label>
          <div class="invalid-feedback">
            Please select an book category.
          </div>
        </div>
        <div class="form-floating">
          <select class="form-select" formControlName="format" id="format" aria-label="Format of book" required>
            <option value="" class="hidden" selected disabled>Format of book *</option>
            <option>eBook</option>
            <option>Audiobook</option>
          </select>
          <label for="format">Format of book</label>
          <div class="invalid-feedback">
            Please select the book format.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="publisher" formControlName="publisher" />
          <label for="publisher">Book Publisher</label>
          <div class="invalid-feedback">
            Please provide book publisher.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="publishDate" onfocus="(this.type='date')"
            formControlName="publishDate" />
          <label for="publishDate">Book Published Date</label>
          <div class="invalid-feedback">
            Please provide book publish date.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="iscore" formControlName="initialScore" />
          <label for="iscore">Initial Score</label>
          <div class="invalid-feedback">
            Please provide book initial popular score based on its pupularity.
          </div>
        </div>
        <div class="form-floating">
          <select class="form-select" id="isactive" formControlName="isActive" aria-label="Active status" required>
            <option value="True" selected>True</option>
            <option>False</option>
          </select>
          <label for="isactive">Status isActive</label>
          <div class="invalid-feedback">
            Please choose active status of book.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="creator" formControlName="creator" readonly/>
          <label for="creator">Creator *</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="author" formControlName="author" required />
          <label for="author">Author of Book, comma to seperate *</label>
          <div class="invalid-feedback">
            Please provide author of book, comma to seperate
          </div>
        </div>
        <div class="form-floating">
          <select class="form-select" id="lang" formControlName="language" aria-label="language of book" required>
            <option value="" class="hidden" selected disabled>Language of Book *</option>
            <option>English</option>
            <option>French</option>
            <option>Spanish</option>
            <option>Other</option>
          </select>
          <label for="lang">Language of Book</label>
          <div class="invalid-feedback">
            Please choose the language of book.
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="purchaseDate" onfocus="(this.type='date')"
            formControlName="purchaseDate" />
          <label for="purchaseDate">Book Purchased Date</label>
          <div class="invalid-feedback">
            Please provide book purchase date.
          </div>
        </div>

        <div class="form-floating">
          <input type="file" class="form-control" id="cover" placeholder="Book Cover Picture *"
            formControlName="coverPic" (change)="onCoverSelect($event)" required />
          <label for="cover">Book Cover Picture</label>
          <div class="invalid-feedback">
            Please select book cover picture.
          </div>
          <mat-progress-bar [color]="color" mode="determinate" [value]="uploadCoverProgress"></mat-progress-bar>
        </div>

        <div class="form-floating">
          <input type="file" class="form-control" id="bookFile" placeholder="Book file *" formControlName="bookFile"
            (change)="onBookSelect($event)" required />
          <label for="bookFile">Book File (eg. PDF)</label>
          <div class="invalid-feedback">
            Please provide book file (eg. PDF/mp3).
          </div>
          <mat-progress-bar [color]="color" mode="determinate" [value]="uploadBookProgress"></mat-progress-bar>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" id="price" placeholder="Price of Book" formControlName="price" />
          <label for="price">Price of Book</label>
          <div class="invalid-feedback">
            Please provide price of book.
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="keyword" placeholder="Keywords of Book"
              formControlName="keyword" />
            <label for="keyword">Keywords of book, comma to seperate</label>
            <div class="invalid-feedback">
              Please provide keywords of book.
            </div>
          </div>
          <div class="form-floating">
            <textarea class="form-control" id="desc" formControlName="desc"
              aria-label="Brief Book Description"></textarea>
            <label for="desc">Book Brief Description</label>
            <div class="invalid-feedback">
              Please provide brief description of Book.
            </div>
          </div>
        </div>
        <input type="submit" class="btnRegister" value="Register" />
        <div class="button-floating">
          <a class="goPortal" (click)="goPortal()">Return Portal</a>
        </div>
      </div>
    </div>
  </form>
</div>