@media (max-width: 991px) {
  .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  a.nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #6c757d;
  }

  .nav-link:hover {
    color: #007bff;
  }

  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }

  .label_welcome {
    margin-top: 0.25em;
    margin-right: 0.5em;
    font-size: 0.9em;
    text-align: center;
  }
}

label.label_welcome {
  color: white;
  margin-top: 0.25px;
  margin-right: 0.5px;
  font-size: 1.1em;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

button.search {
  display: inline-block;
  white-space: nowrap;
  color: #6c757d;
}

button.search:hover {
  background-color: skyblue;
  color: black;
}

select {
  background: #fcd250;
  color: #007bff;
  font-size: large;
  border: #007bff solid 1px;
  border-radius: 5px;
}
