<div id="lib-header">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{titleName}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-label="Toggle navigation" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/lib/lib-portal">Admin Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/book" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Manage Account</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="/lib/register">Register Lib/Admin</a></li>
              <li><a class="dropdown-item" href="/lib/account-manage">Manage Lib/Admin</a></li>
              <li><a class="dropdown-item" href="/reader/account-manage">Manage Reader</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/book" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Manage Inventory</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li><a class="dropdown-item" href="/book/dashboard">Book Dashboard</a></li>
              <li><a class="dropdown-item" href="/book/register">Register Book</a></li>
              <li><a class="dropdown-item" href="/book/update">Update Book</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/operationlog" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Manage Log</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li><a class="dropdown-item" href="/operationlog/review">Operation Log Review</a></li>
              <li><a class="dropdown-item" href="/operationlog">Log Setting</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
        <form class="d-flex">
          <label class="label_welcome">Welcome! {{adminName}}</label>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

