.pdf-viewer {
  text-align: center;
  position: relative;
}

#control-panel{
  padding-top: 20px;
  padding-bottom: 10px;
  width: 80%;
  margin: 0px auto;
  font-size: medium;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  background-color: #a1b3c9;
}
#navigation-control{
  float: left;
}
#scale-control{
  float: right;
}
input#current-page {
  width: 100px;
}
button{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

div.pdf-container{
  margin: auto;
  padding-top: 55px;
}

#autoscale{
  margin-right: 10px;
}

div.go-portal {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 10px;
}
