<div id="pdf-viewer">
  <div id="control-panel">
    <div id="navigation-control">
      <button id="go-previous" (click)="goPreviousClick()">
        {{ "bookViewer.control-1" | translate }}
      </button>
      <span class="page-info">
        {{ "bookViewer.text-1" | translate }}
        <input
          type="number"
          [value]="pdfPara.currentPage"
          (input)="currentPageInput($event)"
          id="current-page"
        />
        {{ "bookViewer.text-2" | translate }}
        <span id="total-pages"></span>
      </span>

      <button id="go-next" (click)="goNextClick()">
        {{ "bookViewer.control-2" | translate }}
      </button>
    </div>
    <div class="go-portal">
      <button (click)="returnPortal()" class="btn btn-primary book-portal">
        {{ "bookViewer.returnLink" | translate }}
      </button>
    </div>
    <div id="scale-control">
      {{ "bookViewer.control-3" | translate }}:
      <input
        type="checkbox"
        checked
        (click)="autoscaleClick()"
        id="autoscale"
      />
      <button id="zoom-in" (click)="zoomInClick()" disabled>+</button>
      <button id="zoom-out" (click)="zoomOutClick()" disabled>-</button>
    </div>
  </div>
  <div class="pdf-container text-center">
    <div id="canvas-container" (window:resize)="onResize()">
      <canvas id="pdf-content"></canvas>
    </div>
  </div>
</div>
